:host {
  display: block;
}
.work-items-container {
  border: 2px solid #b1aaaa;
}

.header {
  display: flex;
  background: #f5f5f5;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  margin: 0;
  color: #000;
  font-size: 2.1rem;
  font-weight: 600;
  padding: 0px 16px;
}

.view-all-btn {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: 1px solid #b1aaaa;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;
}

.view-all-btn:hover {
  background-color: #0056b3;
}

