.site-header {
  .dark-theme & {
    .light-theme-visible {
      display: none !important;
    }
    .dark-theme-visible {
      display: inline-block !important;
    }
  }
  &.mat-toolbar {
    background-color: var(--header-primary-bg);
    height: auto;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    display: block;
    box-shadow: none;
    border-bottom: 0.1rem solid var(--header-border);
    width: auto;
    .cdk-global-scrollblock &{
      z-index: 999;
    }
  }
  .container-fluid {
    padding-right: 2rem;
    padding-left: 1rem;
    @include bp(tablet-max) {
      padding-right: 1rem;
    }
  }
  .header-inner-wrapper {
    display: flex;
    align-items: center;
    padding: 0.6rem 0;
    .header-left-block {
      max-width: 21.8rem;
      flex: 0 0 21.8rem;
      @include bp(tablet-max) {
        max-width: 19rem;
        flex: 0 0 19rem;
      }
      @include bp(sm-max) {
        max-width: 9rem;
        flex: 0 0 9rem;
      }
      .header-left-block-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo-block {
          @include bp(sm-max) {
            overflow: hidden;
            width: 50px;
          }
          a {
            display: flex;
            cursor: pointer;
            @include bp(sm-max) {
              height: 28px;
              width: 160px;
              overflow: hidden;
            }
          }
        }
      }
      .hamburger-ic {
        cursor: pointer;
        .icon-wrap {
          width: 1.8rem;
          height: 1.6rem;
          position: relative;
          span {
            display: block;
            border-radius: 1rem;
            border: 0.1rem solid var(--toggle-menu-bg);
            background: var(--toggle-menu-bg);
            transition: all 0.5s;
            position: absolute;
            border-radius: 1px;
            &:first-child {
              width: 1.4rem;
              top: 0.2rem;
              right: calc(100% - 1.4rem);
              @include bp(tablet-max) {
                left: calc(100% - 1.4rem);
                right: auto;
              }
              .open-sidebar & {
                right: 0;
                @include bp(tablet-max) {
                  left: 0;
                  right: auto;
                }
              }
            }
            &:nth-child(2) {
              width: 100%;
              top: 0.75rem;
            }
            &:last-child {
              width: 1.2rem;
              top: 1.35rem;
              right: calc(100% - 1.2rem);
              @include bp(tablet-max) {
                left: calc(100% - 1.2rem);
                right: auto;
              }
              .open-sidebar & {
                right: 0;
                @include bp(tablet-max) {
                  left: 0;
                  right: auto;
                }
              }
            }
          }
        }
      }
    }
    .header-right-block {
      flex: 0 0 calc(100% - 21.8rem);
      max-width: calc(100% - 21.8rem);
      @include bp(tablet-max) {
        flex: 0 0 calc(100% - 19rem);
        max-width: calc(100% - 19rem);
      }
      @include bp(sm-max) {
        flex: 0 0 calc(100% - 9rem);
        max-width: calc(100% - 9rem);
      }
      .header-right-block-inner {
        display: flex;
        align-items: center;
        padding: 0;
        justify-content: flex-end;
      }
      .dropdown-with-autocomplete {
        margin-right: 1rem;
        @include bp(sm-max) {
          margin-right: 0;
        }
        mat-label {
          display: none;
        }
        .mat-mdc-form-field {
          position: relative;
          .mat-mdc-form-field-flex {
            width: 100%;
          }
          &.mat-focused {
            &:not(.mat-mdc-form-field-label-always-float){
              .mat-mdc-form-field-flex {
                border: 0.2rem solid var(--tabbg) !important;
                background-color: transparent !important;
              }
            }
            &.mat-mdc-form-field-label-always-float{
              .mat-mdc-form-field-flex {
              border: 0.2rem solid transparent !important;
              }
            }
          }
          .mdc-line-ripple {
            display: none;
          }
        }
        .mat-mdc-form-field-infix {
          min-height: 38px !important;
          padding: 0 !important;
          line-height: 34px !important;
          max-height: 35px !important;
          input {
            font-size: 1.4rem !important;
            height: 3.5rem;
            @include bp(sm-max) {
              font-size: 1.2rem !important;
            }
          }
        }
        .mdc-text-field--filled {
          &:not(.mdc-text-field--disabled) {
            .mdc-text-field__input::placeholder {
              font-size: 1.4rem !important;
              opacity: 1 !important;
              color: var(--text-color);
              @include bp(sm-max) {
                font-size: 1.2rem !important;
              }
            }
          }
        }
        .mat-mdc-text-field-wrapper {
          min-width: 360px;
          max-width: 360px;
          height: 4rem;
          background-color: transparent !important;
          position: relative;
          position: relative;
          border: none !important;
          transition: all 0.3s;
          .mat-mdc-form-field-focus-overlay {
            display: none;
          }
          @include bp(sm-max) {
            min-width: 320px;
            max-width: 320px;
          }
          &.mdc-text-field--focused {
            .mat-mdc-form-field-flex {
              border-color: var(--tabbg) !important;
            }
            &::before {
              opacity: 1;
            }

          }
          .mat-mdc-form-field-flex {
            border-radius: 0 0 0.3rem 0.3rem !important;
            border: 2px solid transparent !important;
            box-shadow: none;
            padding: 0 3.5rem 0 1.5rem;
            border-radius: 10rem !important;
            position: relative;
            background-color: var(--iconbtn-bg);
            height: 100%;
            &:hover {
              background-color: var(--btnSmBorder);
            }
            &:after {
              position: absolute;
              right: 1.5rem;
              top: 50%;
              transform: translateY(-50%);
              background-image: url("../../images/magnify-icon.svg");
              height: 1.6rem;
              width: 1.6rem;
              content: " ";
              background-size: 1.5rem;
              background-repeat: no-repeat;
              background-position: center;
              transition: all 0.5s;
              .dark-theme & {
                background-image: url("../../images/magnify-icon-white.svg");
              }
            }
          }
          .mdc-notched-outline {
            display: none;
          }
          &:has(.header-dropdown-open) {
            &:before {
              width: 100%;
              height: calc(100% + 13px);
              top: -7px;
              left: 0;
              position: absolute;
              content: " ";
              display: block !important;
              border: 0.1rem solid transparent;
              border-bottom: none !important;
              background-color: var(--body-bg);
              box-shadow: 1px -1px 15px 0px rgb(0 0 0 / 10%) !important;
              border-radius: 1rem 1rem 0 0 !important;
              .dark-theme &{
                box-shadow: 1px -1px 15px 0px rgba(255, 255, 255, 0.1) !important;
              }
            }
            &:after {
              position: absolute;
              content: "";
              top: calc(100% + 1px);
              left: 0;
              width: 100%;
              height: 0.6rem;
              background: var(--body-bg);
              border: 0.1rem solid transparent;
              border-top: 0;
              border-bottom: 0;
              height: 1rem;
              z-index: 999999999;
            }
          }
        }
      }
      .notification-block {
        display: flex;
        align-items: center;
        .mdc-button {
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.5s;
          cursor: pointer;
          border: none;
          outline: none;
          position: relative;
          overflow: hidden;
          min-width: unset;
          box-shadow: none;
          .mat-mdc-button-persistent-ripple,
          .mat-mdc-focus-indicator,
          .mat-mdc-button-touch-target,
          .mat-ripple.mat-mdc-button-ripple {
            height: inherit;
            width: inherit;
          }
          .mat-mdc-button-persistent-ripple {
            &::before {
              background-color: inherit;
            }
          }
          &:hover {
            em {
              filter: brightness(0);
            }
          }
          .mdc-button__label {
            display: flex;
            position: initial;
            img{
              .dark-theme &{
                filter: invert(2) brightness(1.2);
              }
            }
          }
          em {
            display: flex;
            position: initial;
            filter: brightness(46.4%);
            .dark-theme & {
              filter: brightness(0) invert(1);
            }
          }
          img {
            &.dark {
              display: none;
              .dark-theme & {
                display: block;
                filter: none;
              }
            }
            &.light {
              .dark-theme & {
                display: none;
              }
            }
          }
          &.icon-btn {
            overflow: initial;
            height: 4rem;
            width: 4rem;
            background-color: var(--iconbtn-bg);
            border: 0.1rem solid var(--icon-btn-border);
            padding: 0;
            + .icon-btn {
              margin-left: 1rem;
            }
            &:hover {
              background-color: var(--iconbtn-header-bg);
            }
            em {
              img {
                height: auto;
                width: 1.7rem;
              }
            }
            .counter {
              background-color: var(--error-color);
              width: 0.7rem;
              height: 0.7rem;
              border-radius: 1rem;
              position: absolute;
              top: 0.9rem;
              right: 1.1rem;
              font-size: 0.8rem;
              &::before {
                background-color: var(--error-color);
                content: "";
                display: table;
                border-radius: 50%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                animation-name: pulse;
                animation-duration: 1.1s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
                animation-delay: 0.2s;
                animation-fill-mode: forwards;
              }
            }
          }
        }
      }
      .menu-block {
        margin: 0 0 0 1rem;
        .menu-inner-wrapper {
          display: flex;
          align-items: center;
          .menu-wrapper {
            .profile-image-wrapper {
              display: flex;
              height: 100%;
              align-items: center;
              justify-content: center;
              overflow: hidden;
              background-color: var(--iconbtn-bg);
              border-radius: 50%;
              transition: all 0.3s;
              img {
                &.profile-placeholder-image {
                  .dark-theme & {
                    filter: brightness(0) invert(2);
                  }
                }
              }
              .profile-img {
                border-radius: 50%;
                .dark-theme & {
                  filter: none !important;
                }
              }
            }
            .profile-name {
              color: var(--text-color);
              text-transform: capitalize;
              cursor: pointer;
              border: 0.1rem solid var(--icon-btn-border);
              border-radius: 50%;
              line-height: 1;
              height: 4rem;
              width: 4rem;
              &[aria-expanded="true"] {
                .arrow {
                  transform: rotate(180deg);
                }
              }
              &:hover {
                .mat-mdc-button-persistent-ripple {
                  &::before {
                    opacity: 0;
                  }
                }
              }
              em {
                margin-left: 0.6rem;
              }
              .arrow {
                transition: all 0.3s;
                height: 6px;
                width: auto;
              }
            }
          }
        }
      }
    }
  }
}

.menu-main {
  &.mat-mdc-menu-panel {
    min-width: 22rem;
    max-width: 26rem;
    min-height: unset;
    box-shadow: none !important;
    position: absolute;
    right: 15px;
    top: 0px;
    border-radius: 0 0 3px 3px;
    background-color: var(--formfield-background);
    border: 2px solid var(--menu-border);
    margin-top: 7px;
    max-height: calc(100vh - 52px);
    border-top: 0;
    width: 100%;
  }
  .mat-mdc-menu-content {
    padding: 0;
    button,
    a {
      background-color: transparent;
      width: 100%;
      display: block;
      color: var(--text-color);
      line-height: 1.28;
      transition: all 0.3s;
      padding: 1rem 1.5rem;
      border: none;
      box-shadow: none;
      outline: none;
      text-align: left;
      border-radius: 0;
      font-weight: 400;
      height: 40px;
      &:hover {
        em {
          filter: brightness(0);
        }
      }
      em {
        display: inline-block;
        margin-right: 0.8rem;
        filter: brightness(46.4%);
        .dark-theme & {
          filter: brightness(0) invert(1);
        }
      }
      &:hover {
        background-color: var(--menu-btn-bg);
      }
    }
    .mat-mdc-button,
    .mat-mdc-outlined-button {
      .mat-mdc-button-touch-target {
        height: 100%;
      }
      .mat-mdc-button-persistent-ripple {
        opacity: 0;
      }
    }
    .profile-menu {
      padding: 10px 16px 13px;
      text-align: center;
      border-bottom: 1px solid var(--profile-menu-border);
      background: var(--profile-menu-bg);
      .profile-icon {
        width: 90px;
        height: 90px;
        max-width: 90px;
        margin: 0 auto 14px;
        border-radius: 100%;
        border: 2px solid var(--border-color);
        overflow: hidden;
        .profile-image-wrapper {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        img {
          width: 100%;
          height: 100%;
          &.profile-placeholder-image {
            width: 5.2rem;
            height: 5.2rem;
          }
        }
      }
      .profile-info {
        .profile-name {
          color: var(--text-color);
          font-size: 1.4rem;
          line-height: 1.25;
          font-weight: 500;
          margin-bottom: 5px;
        }
        .profile-email {
          color: var(--text-secondary-color);
          font-size: 1.1rem;
          line-height: 1.25;
          font-weight: 400;
        }
      }
    }
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
    width: 7px;
    height: 7px;
  }

  92% {
    opacity: 0.1;
    width: 28px;
    height: 28px;
  }

  to {
    opacity: 0;
    width: 7px;
    height: 7px;
  }
}