<footer class="site-footer">
    <div class="footer-wrapper">
        <div class="logo-block">
            <img src="./assets/images/tatvasoft-logo.svg" alt="Tatvasoft Logo" class="light-theme-visible" />
            <img src="./assets/images/tatvasoft-logo-white.svg" alt="Tatvasoft Logo" class="dark-theme-visible" />
        </div>

        <ul class="text-block">
            <li>Version: 1.1.8564.32675</li>
            <li>Copyright © TatvaSoft All rights reserved.</li>
        </ul>
    </div>
</footer>