<div class="modernCard row p-0 w-100 flex-md-row flex-column overflow-hidden animate__animated animate__fadeInDown">
  <!-- Left Panel -->
   <div class="col-md-6 infoPanel flex-column justify-content-center align-items-start px-5 py-5 position-relative d-none d-md-flex">
     <ng-content select="[left-panel]"></ng-content>
   </div>
  <!-- Right Panel -->
   <div class="col-md-6 d-flex flex-column justify-content-between py-5 position-relative loginPanel">
     <ng-content select="[right-panel]"></ng-content>
   </div>
</div>
